body{
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.con{
    display:flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    padding-top: 10%;
}
.new-task{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    /* opacity: 20%; */
    zoom: 200%;
}

.new-note{
    position: fixed;
    bottom: 0;
    left:0;
    padding-left: 10px;
    /* opacity: 20%; */
    zoom: 200%;
}

/* i{
    position: fixed;
    right:0;
} */

#root, #root2{
    padding-top: 5%;    
}

@media only screen and (max-width: 800px) {
    #root2 .card{
        margin-left: 5%;
        margin-right: 5%;
    }
  }

