.htitle{    
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-section{
    text-align: center;
    /* border-radius: 30px; */
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 10px #888888;
}

body{
    background-image: url("edu.jpg");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-color: transparent;
    /* text-align: center; */
    padding: 80px;
}

@media only screen and (max-width: 800px) {
    .form-section{
        /* text-align: center; */
        /* border-radius: 30px; */
        margin-left: 0%;
        margin-right: 0%; 
        /* box-shadow: 5px 10px black; */
    }
  }
