{% extends 'layout.html' %}

{% block head %}
        <title>Home</title>
       
        <link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block body %}
        
        <div class="con">
            
           
        <div class="card" style="width:300px;">
            <div class="card-header text-center">Task Name</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">Supporting text</p>
                <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">Get food<i class="far fa-trash-alt"></i></li>
                    <li class="list-group-item">Drink water</li>
                    <li class="list-group-item">Eat Healthy</li>
                    <li class="list-group-item">Sleep 8 hours</li>
                    <li class="list-group-item">Go to Market to buy veggies.</li>
                </ul>
                <!-- <a href="#" class="btn btn-primary">Done</a> -->
            </div>
        </div>
        <div class="new-task">
            <p> <a href="/add"><i class="fas fa-tasks"></i></a></p>
        </div>
        <p id="para"></p>
        <!-- <button type="button" id="signout" class="btn">Sign Out</button>
        <button type="button" id="removea" class="btn">Remove Account</button> -->
        </div>

        <!-- <script src="/static/home.js"></script> -->
  
{% endblock %}















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="{{ url_for('getAdd') }}">Add</a></li>
    </ul>    
</body>
</html> -->