{% extends 'layout.html' %}

{% block head %}
        <title>Home</title>
       
        <style>
            .con{
                display:flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;
            }
            .new-task{
                position: absolute;
                bottom: 0;
                right: 0;
                padding-right: 20px;
                /* opacity: 20%; */
                zoom: 400%;
            }
            i{
                position: absolute;
                right:0;
            }
        </style>

{% endblock %}

{% block body %}
        
        <div class="con">
            
           
        <div class="card" style="width:300px;">
            <div class="card-header text-center">Task Name</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">Supporting text</p>
                <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">Get food<i class="far fa-trash-alt"></i></li>
                    <li class="list-group-item">Drink water</li>
                    <li class="list-group-item">Eat Healthy</li>
                    <li class="list-group-item">Sleep 8 hours</li>
                    <li class="list-group-item">Go to Market to buy veggies.</li>
                </ul>
                <!-- <a href="#" class="btn btn-primary">Done</a> -->
            </div>
        </div>
        <div class="new-task">
            <p> <a href="/add"><i class="fas fa-tasks"></i></a></p>
        </div>
        <p id="para"></p>
        <button type="button" id="signout" class="btn">Sign Out</button>
        <button type="button" id="removea" class="btn">Remove Account</button>
        </div>

        <script>
            var user = firebase.auth().currentUser;
            firebase.auth().onAuthStateChanged(function (user) {
                if (user) {
                    document.getElementById('para').innerHTML = user.displayName + "<br>" + user.email + "<br>Verified:" + user.emailVerified;
                } else {
                    window.alert('User not signed in Now');
                    window.location.replace('/');
                }
            });
        </script>
        <script>
            document.getElementById('signout').addEventListener('click', function (e) {
                if (confirm('You sure about Sign out?')) {
                    firebase.auth().signOut().then(function () {
                        // signed out
                    }).catch(function (error) {
                        window.alert("Sign out Failed")
                    });
                } else {
                    // Do nothing!			
                }
            });

            document.getElementById('removea').addEventListener('click', function (e) {
                if (confirm('You sure about Removing account?')) {
                    var user = firebase.auth().currentUser;
                    // var credential = firebase.auth.EmailAuthProvider.credential(
                    // 	user.email,
                    // 	null
                    // );

                    // user.reauthenticateWithCredential(credential).then(function() {
                    user.delete().then(function () {
                        window.alert('deleted');
                        // User deleted.
                    }).catch(function (error) {
                        window.alert('Please Signin again & Remove');	// An error happened.
                        firebase.auth().signOut();
                    });
                    // }).catch(function(error) {
                    // 	window.alert("User NOT re-authenticated");	// An error happened.
                    // });
                } else {
                    // Do nothing!
                }
            });
        </script>
  
{% endblock %}















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="{{ url_for('getAdd') }}">Add</a></li>
    </ul>    
</body>
</html> -->