{% extends 'layout.html' %}

{% block head %}
        <title>Home</title>
       
        <link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block body %}
        
        <div class="con"> 
            <!-- <div class="album py-5"> -->
                <div class="container">
            
                    <div class="row" id="root">
                        
                    </div>
                
            <!-- </div> -->
                  
                    <div class="new-task">
                        <p> <a href="/add"><i class="fas fa-tasks"></i></a></p>
                    </div>
                    <p id="para"></p>
                    <!-- <button type="button" id="signout" class="btn">Sign Out</button>
                    <button type="button" id="removea" class="btn">Remove Account</button> -->
                    </div>

                </div>

        <script src="/static/home.js"></script>
  
{% endblock %}















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="{{ url_for('getAdd') }}">Add</a></li>
    </ul>    
</body>
</html> -->