{% extends 'layout.html' %}

{% block head %}
    <title>Insert</title>

	<link rel="stylesheet" href="/static/main.css">	
{% endblock %}



{% block body %}
	<!-- <h1></h1> -->
	<h1 id="ent">{{ entries2 }}</h1>
	
	<div ng-app="myApp" ng-controller="myController">
		<h1 class="htitle">Task Entries</h1>
		<div class="jumbotron form-section">		
			<form>
				<div class="input-group input-group-lg">
				<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="taskname" id="taskname" placeholder="Task Name" value="{{ taskName1 }}" autofocus>
				</div><hr>
				
				<div class="input-group mb-3">
					<input type="text" id="enter" ng-model = "data" class="form-control" placeholder="Entry" aria-label="Recipient's username"
						aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="button-addon2"ng-click="addRow()"><i class="fas fa-plus"></i></button>
					</div>
				</div>		
				
				
				<table class="table table-sm"> 				
					<tr ng-repeat="entry in entries">
						<td><label>{{ '{{$index + 1}}' }}</label></td>	
						<td><label>{{ '{{entry.data}}' }}</label></td>				
						<td><button ng-click="deleteRecord($index)" class="btn">❌</button></td>
					</tr>
				</table>
				<hr><input type="submit" id="submit" value="Submit" class="btn btn-outline-info">		
			</form>	
		</div>	
		<hr style="background-color: whitesmoke;">
		<a href="/home" class="btn btn-link">🏠</a>
		<p id="para"></p>
	</div>

	<script src="/static/insert.js"></script>
	
{% endblock %}