{% extends 'layout.html' %}

{% block head %}
    <title>Insert</title>
    
	<link rel="stylesheet" href="/static/main.css">
{% endblock %}



{% block body %}
	<h1 class="htitle">Task Entries</h1>
	<div class="jumbotron form-section">		
	    <form action="http://localhost:5000/add" method="GET">
			<input type="text" name="taskname" placeholder="Task Name" autofocus><hr>
			<input type="text" name="entryname" placeholder="Entry" id="enter">&nbsp<a href="#" id="plus"><i class="fas fa-plus"></i></a><br>
			<ul class="list-group" id="parent"></ul>			
	        <hr><input type="submit" value="Submit" class="btn btn-outline-info">		
	    </form>	
	</div>	
    <hr style="background-color: whitesmoke;">
    <a href="/" class="btn btn-link">🏠</a>

	<script>
		var arr=[]
		
		document.getElementById('plus').addEventListener('click',(event)=>{
			var input = document.getElementById('enter').value
			var parent = document.getElementById('parent')
			// var enter = document.getElementById('enter').value
			var li =	document.createElement('li')
			li.innerHTML = input		
			li.classList = 'list-group-item'	 
			arr.push(input)
			console.log(arr);
			parent.appendChild(li);
			document.getElementById('enter').value = ''
			// input = ''
		})
	</script>

{% endblock %}