<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <hr>
    <form action="http://localhost:5000/search" method="get">
        id: <input type="number" name="id" min="1">
        <input type="submit" value="Submit">
    </form>
    <hr>
    <table border = 1>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        {% for record in records %}
            <tr>
                <th> {{ record[0] }} </th>
                <td> {{ record[1] }} </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a href=" {{ url_for('getHome') }} ">Home</a>
</body>
</html>